/* Add styling for HomePage */
header {
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: #565656; */
  }

.headerLine1{
  display: flex;
  justify-content: space-between;
}

.headerLine2{
  align-items: center;
  padding: 10px;
  justify-self:center;
}
  
body{
  background-image: url(https://uploads-ssl.webflow.com/61a0875915332c1fd8109f03/6434f7ee04fc230d7e78f273_imageedit_7_3658318633.webp);
  object-fit: cover;
}

.box2 {
  margin: auto;
  width: 80%;
  height: 100%;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  backdrop-filter: blur(2px);
  padding-bottom: 20%;
}
.logo{
  height: 190px;
  width: 190px;
}
  nav ul {
    list-style: none;
    display: flex;
    gap: 180px;
    align-items: center;
    justify-content: center;
    font-size: 30px;
  }
  
  nav ul li {
    font-weight: bold;
  }
  
  nav ul li a{
    font-weight: bold;
    color: #9B0909;
    text-decoration: none;
  }

  .switch-options {
    display: flex;
    gap: 10px;
  }
  
  .switch-options button {
    cursor: pointer;
    padding: 5px 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
  
  .switch-options button.active {
    background-color: #eee;
  }
  
  .welcome {
    text-align: center;
    justify-content: center;
    margin-top: 20px;
    font-size: 44px;
  }
  


  .toggle-slider {
    position: relative;
    width: 360px;
    height: 66px;
    margin-right: 45%;
  }
  
  .slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FDDA16;
    border-radius: 34px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 61px;
    width: 188px;
    left: 2px;
    bottom: 2px;
    background-color: #9B0909;
    border-radius: 30px;
    transition: 0.4s;
  }
  
  input[type='checkbox'] {
    display: none;
  }
  
  input[type='checkbox']:checked + .slider {
    background-color: #FDDA16;
  }
  
  input[type='checkbox']:checked + .slider:before {
    transform: translateX(166px);
  }

